.todoInput {
  background: #2c4150;
  color: #fff;
  width: 100%;
  border: 1px solid #707070;
  margin-bottom: 1rem;
  padding: 1rem;
}

.todoInput__title {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0.8rem;
}

.todoInput__form {
  width: 100%;
}

.todoInput__input {
  width: 100%;
  padding: 15px 17px;
  margin-bottom: 0.8rem;
  border: 1px solid #707070;
}

.todoInput__submitBtn {
  display: block;
  width: 100%;
  border: 1px solid #707070;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  padding: 15px 17px;
  background: #b4b4b4;
}
